<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hello {{ src }}!</h1>
    <div> <img src={{"/" + src}} /> </div>
    <script>
        //const axios = require('axios').default;
        ////
        /*
        let clientID = window.location.pathname.split('/')[2];
        $(document).ready(function () {
            $("img").on("click", function (event) {
                let x = event.pageX - this.offsetLeft;
                let y = event.pageY - this.offsetTop;
                console.log("X Coordinate: " + x + " Y Coordinate: " + y);

                axios.post('/clickonscreen', {
                    clientID: clientID,
                    X: x,
                    Y: y,
                    ClickRequested: true
                })
                    .then(function (response) {
                        console.log(response.data);
                        //location.reload();
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            });
        }); */
    </script>
</body>

</html>